In [34]:
import pandas as pd
import numpy as np

## Load Data

In [4]:
song_data = pd.read_json('song.json')
song_data.head()

,id,user_id,user_state,user_sign_up_date,song_played,time_played
0,GOQMMKSQQH,122,Louisiana,2015-05-16,Hey Jude,2015-06-11 21:51:35
1,HWKKBQKNWI,3,Ohio,2015-05-01,We Can Work It Out,2015-06-06 16:49:19
2,DKQSXVNJDH,35,New Jersey,2015-05-04,Back In the U.S.S.R.,2015-06-14 02:11:29
3,HLHRIDQTUW,126,Illinois,2015-05-16,P.s. I Love You,2015-06-08 12:26:10
4,SUKJCSBCYW,6,New Jersey,2015-05-01,Sgt. Pepper's Lonely Hearts Club Band,2015-06-28 14:57:00

## Question-1
### Top 3 and bottom 3 states in terms of number of users

In [24]:
user_state_info = song_data.groupby("user_state").user_id.nunique()
user_state_info = user_state_info.sort_values()

#### Bottom 3 states

In [30]:
user_state_info.iloc[:3]

user_state
Arizona        1
New Mexico     1
Connecticut    1
Name: user_id, dtype: int64

#### Top 3 states

In [31]:
user_state_info.iloc[-3:]

user_state
Texas         15
California    21
New York      23
Name: user_id, dtype: int64

## Question-2

#### User Engagement defined as the number of songs played by user

In [41]:
engagement = song_data.groupby("user_state").user_id.agg(lambda ids: len(ids))
engagement.sort_values(inplace=True, ascending=True)

### Bottom 3 states in terms of engagement

In [42]:
engagement.iloc[:3]

user_state
Kansas          8
Connecticut    16
New Mexico     17
Name: user_id, dtype: int64

#### Top 3 states in terms of engagement

In [44]:
engagement.iloc[-3:]

user_state
Texas         230
California    425
New York      469
Name: user_id, dtype: int64

## Question 3
#### First user who signed up from each state

In [54]:
def find_first_user(df):
    idx = pd.to_datetime(df['user_sign_up_date']).argmin()
    return(df.loc[idx, 'id'])
song_data.groupby('user_state').apply(find_first_user)

/home/bhargav/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmin' is deprecated, use 'idxmin'
instead.
The behavior of 'argmin' will be corrected to return the positional
minimum in the future. For now, use 'series.values.argmin' or
'np.argmin(np.array(values))' to get the position of the minimum
row.

user_state
Alabama           VYGDSSQBJY
Alaska            LYZJSGOGMT
Arizona           NQIOZURYLR
Arkansas          PYMWQEHYAR
California        VGMSPYIOVD
Colorado          RVYFCTFVSR
Connecticut       GFEOXBDCXQ
Florida           TCPQTLEFBY
Georgia           DRQEXFLVUJ
Idaho             EIODCPYXVZ
Illinois          SJYWDAFPTE
Indiana           CVDVDPRXBP
Iowa              AMKXQNEPVP
Kansas            LZBFURNTYG
Kentucky          GKAVROKGKZ
Louisiana         DMTICHBHIX
Maryland          RJBVBECGEB
Massachusetts     YEYEFEGHSB
Michigan          FUZEXNGIIH
Minnesota         AUAUMQGGTG
Mississippi       GHDIMXUHCU
Missouri          RJAXELQHQP
Nebraska          NFBYEAOIQD
New Jersey        SUKJCSBCYW
New Mexico        FJHZSNVNSM
New York          YCBBAYWXZW
North Carolina    THXIUMICEM
North Dakota      XTLRIRSLYF
Ohio              HWKKBQKNWI
Oklahoma          NWTWIRGPTP
Oregon            ECUPTRAWWI
Pennsylvania      FDYRTNRNLB
Rhode Island      HZICITYVPP
South Carolina    ZKBGWMSCET
Tennessee         USXRGICTMD
Texas             ZVHOZGEFNM
Utah              UINYCALDNQ
Virginia          QALBLUYOAK
Washington        CDZFTVKYOY
West Virginia     TRCUEBCIXG
Wisconsin         PPVYJFTQNO
dtype: object

## Question-4
#### Build a basic recommendation engine